.button{
    transition: all 0.2s ease-in-out;
  border: none;
  cursor: pointer;
  color: white;
  border-radius: 3px;
  font-weight: bold;
  position: relative;
  overflow: hidden;
  padding: 10px 40px;
  margin: 10px;
  border-radius: 18px;
}

.loader{
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}